.header {
    display: flex;
    align-items: center;
    height: 65px;
    background-color: #313131;
    margin-bottom: 1.5rem;
}

.header h1, h2 {
    font-weight: normal;
    padding-right: 30px;
}
.header h1 {
    font-size: 1.6em;
    padding-left: 20px;
}
.header h2 {
    font-size: 1.3em;
}