.header {
    display: flex;
    align-items: center;
    height: 65px;
    background-color: #313131;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.header-left {
    display: flex;
    align-items: center;    
}

.header-left h1, h2 {
    font-weight: normal;
    padding-right: 30px;
}
.header-left h1 {
    font-size: 1.6em;
    padding-left: 20px;
}
.header-left h2 {
    font-size: 1.3em;
}



.header-right a {
    font-weight: normal;
    font-size: 1.3em;
    margin-right: 25px;
}